*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'calibri';
}
body{
    background-color: blanchedalmond;
    color: white;
}
.container{
    position: relative;
    color: black;
    background-color: white;
    width: 350px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.text{
    padding-top: 20px;

    
}
.country{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.country p{
    font-size: 18px;
}
.text h4{
    font-size: 25px;
}
.icon{
    margin-top:30px;
}
.icon img{
    margin-top: 5px;
}
.icon p{
    padding-top:5px;
}
.degree h2{
    padding-top: 5px;
}
.details{
    margin-top: 40px;
    display: flex;
    height: 75px;

    justify-content: space-around;
}
.details div{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}
.details div img{
    width: 40px;
}
.details p{
    font-size: 18px;
}
.switch{
    margin-top: 70px;

}
button{
    width: 150px;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    color: darkblue;
    text-align: center;
}
.inline{
    display:inline;
}
#rain{
    font-size: 25px;
    font-weight: 600;
}
#para{
    background-color: white;
    color: darkblue;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
}
.dark-mode {
    background-color: rgb(6, 6, 50);
    color: white;
  }

@media screen and (max-width:768px) {
    .container{
        max-width: 100%;
    }
    .country, .time{
        display: block;
    }
}